/* Main title */
#webpage_title {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 55px;
    font-weight: bold;

}

/* Points title */
#green_title {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 82px;
}

/* Cloud */

/*.cloud_container {
    position: relative;
}*/

#points {
    text-align: center;
    font-size: 230px;
    position: relative;
    top: 60px;
}

.cloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    width: 580px;
    /* z-index: -1; */
}

.test{
    z-index: -5;
    position: absolute;
    left: 28%;
    top: 34%;
    z-index: -1;
}

.textpoints{
    /* padding-top: 230px; */
    z-index: 900;
}

/* Stats section */
.statistics {
    position: relative;
    top: 400px;
}

/* Tree Section */

.trees {
    position: relative;
    top: 900px;
}

/* Water section */

.water {
    position: relative;
    top: 1200px;
}

/* Friends section */
.container {
    position: relative;
    top: 2000px;
}




