@font-face {
    font-family: 'Raleway', sans-serif;
    src: "https://fonts.googleapis.com/css?family=Raleway&display=swap";
}

/* Main title */
#webpage_title {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 55px;
}

/* Points title */
#green_title {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 80px;
}

/* Clouds */
#left_cloud {
    position: relative;
    top: 50px;
    left: 270px;
}

#right_cloud {
    position: relative;
    top: -100px;
    left: 400px;
}

/* Friends section */
.container {
    position: relative;
    top: 200px;
}


